<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email, user_friends"
onlogin="checkLoginState();"
data-auto-logout-link="true">
<!-- ^^ automatically creates a log out button upon logging in -->
</fb:login-button>

<div id="status">
</div>
